<% if @article.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <h4 class="alert-heading text-center">Errors occurred:</h4>
        <ul class="text-center">
            <% @article.errors.full_messages.each do |msg| %>
                <li class="text-danger text-center"><%= msg %></li>
            <% end %>
        </ul>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% end %>