<h1 class="text-center mt-4 text-white">Edit Category Name</h1>

<div class="container my-custom-container" style="background-color: black; color: white;">
    <%= render 'form' %>
    <br>
</div>

<div class="text-center mt-4"> <!-- Added margin top -->
    <%= link_to 'Cancel and return to category', category_path(@category) , class:"btn btn-outline-light"%>
</div>

