    <footer class="text-center text-lg-start border border-white mt-xl-5 pt-4 text-white" id="footer">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <h5 class="text-uppercase mb-4">OUR WORLD</h5>

          <ul class="list-unstyled mb-4">
            <li>
                <%= link_to 'About us',about_path, class: "text-white" %> 
            </li>
            <li>
                <%= link_to 'Collections',articles_path, class: "text-white" %> 
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <h5 class="text-uppercase mb-4">Assistance</h5>

          <ul class="list-unstyled">
            <li>
            <%= link_to "Binh Nguyen Dang", "https://github.com/BinhNguyenDang/alpha-blog", class: "text-white"%>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <h5 class="text-uppercase mb-4">Sign up to our newsletter</h5>

          <div class="form-outline form-white mb-4">
            <input type="email" id="form5Example2" class="form-control" />
            <label class="form-label" for="form5Example2">Email address</label>
          </div>

          <button type="submit" class="btn btn-outline-white btn-block text-white">Subscribe</button>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3 border-top border-white">
      © 2020 Copyright:
      <a class="text-white" <%= link_to "Binh Nguyen Dang", "https://github.com/BinhNguyenDang/alpha-blog"%></a>
    </div>
    <!-- Copyright -->
  </footer>
  
<!-- End of .container -->